
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    font-family: inherit;
}
body{
    font-family: 'Merriweather', serif;
}